@model IEnumerable<Mobile_WebApplication.Models.items>


@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemsquantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cataid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemsquantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cataid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.imgfile) *@ 
               
                  @*  <img src="~/images/@model.imgfile" height="150" />  *@
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 
            </td>
        </tr>
}
    </tbody>
</table>
